name: scroll_when_needed
description: A packages that allows us to only scroll when needed with the correct platform specific behaviour.
version: 2.0.0
homepage: https://github.com/vanlooverenkoen/flutter_scroll_when_needed

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter